.single-container {
  background: #2D2D2D;
  width: 45%;
  float: left;  
  border: 2px solid #2D2D2D;
  height: 525px;
  margin: 10px;
  margin-top: none;
}
.image-container {
  height: 30%;
  float: left;
  width: 100%;
  text-align: center;
  overflow: hidden;
  background: #2D2D2D;
  background: no-repeat center;
  background-size: cover;
}
.image {
  width: 100%;
  background-color: #fff;
}
.info-container {
  height: 70%;
  width: 100%;
  float: left;
  padding: 15px;
  padding-bottom: 0;
  font-family: monospace;
  font-size: 14px;
  color: #fff;
  line-height: 18px;
  overflow: hidden;
}
.project-link {
  text-decoration: none;
  color: #99C379;  
}
.project-link:hover {
  text-decoration: underline;
}
.tab {
  padding-left: 20px;
}
.light-blue {
  color:#61AFEF;
}
.blue {
  color: #26B7B0;
}
.orange {
  color: #D29A67;
}
