.skills-container {
  float: left;
  width: 50%;
  height: calc(100% - 90px);
  overflow: auto;
  font-family: monospace;
  color: #fff;
  line-height: 24px;
  font-size: 18px;
}
.front-end-list,
.back-end-list {
  float: left;
  width: 50%;
  padding-top: 15px;
  padding-left: 30px;
}
.tab {
  padding-left: 20px;
}
.light-blue {
  color:#61AFEF;
}
.blue {
  color: #26B7B0;
}
.orange {
  color: #D29A67;
}